#panelPadre {
    -fx-background-color: #FFFFFF;
}

#vaso {
    -fx-background-color: #FF9999, white ;
    -fx-background-insets: 0, 0 3 3 3 ;
}

#contenidoVaso {
    -fx-background-color: #AAAAFF;
}
#contenidoVaso2 {
    -fx-background-color: #FFAAFF;
}